* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

@media (max-width: 768px) {
  .desktop-overlay {
    display: none !important;
  }

  .mobile-text {
    display: block !important;
  }
}
@media screen and (max-width: 576px) {
  .links {
    text-align: center;

    text-decoration: none;
  }
  #about {
    text-align: center;
    padding: 2rem 0rem !important;
  }
  .about_heading {
    font-size: 2rem !important;
    font-weight: bold;
  }
  .skills {
    text-align: center;
  }
  .skills-container {
    text-align: start;
  }
  #contact_box {
    padding: 10px !important;
    margin: 10px;
  }
}
