* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

@media (max-width: 768px) {
  .desktop-overlay {
    display: none !important;
  }

  .mobile-text {
    display: block !important;
  }

  .portfolio-item:hover img {
    transform: none !important;
  }

  .portfolio-item:hover .desktop-overlay {
    opacity: 0; /* Disable overlay effect */
  }

  .desktop-overlay {
    display: none !important;
  }

  .mobile-text {
    display: block !important;
    margin-top: 5px;
  }

  .portfolio-item {
    overflow: visible !important;
  }
  .portfolio-grid {
    gap: calc(35vw / 2) !important;
  }
  .section-title {
    font-size: 1.6rem;
  }
  .core-values .value-img {
    width: 100px;
    height: 100px;
  }
  .core-values .value-title {
    font-size: 1.1rem;
  }
  .btn {
    margin: 2rem 0 !important;
    text-align: center !important;
  }
  .section-title {
    font-size: 2rem !important;
  }

  .section-subtitle {
    font-size: 1rem;
  }
  .gallery-container {
    grid-template-columns: 1fr;
    padding: 0px !important;
  }

  .gallery-image {
    width: 100%;
    height: 250px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .links {
    text-align: center;

    text-decoration: none;
  }
  #about {
    text-align: center;
    padding: 2rem 0rem !important;
  }
  .about_heading {
    font-size: 2rem !important;
    font-weight: bold;
  }
  #skills {
    text-align: center;
  }
  .skills-container {
    text-align: start;
  }

  .numbers {
    margin: 10px !important;
  }
  #contact_box {
    padding: 10px !important;
    margin: 10px;
  }
  .filter-button:hover {
    transform: none !important;
  }
  .filter-button.active {
    border: 0px solid #ff5722 !important;
  }
  #about_page {
    text-align: center;
  }
  .contact-main .col-left {
    display: none;
  }
}
