* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

:root {
  --main-font: "Roboto", serif;
  --btn-color: #007bff;
  --btn-hover: #0056b3;
  --heading-font: "Bruno Ace", serif;
}
body {
  overflow-x: hidden;
}
/* Header navrbar */
/* Base Navbar Styles */
.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: transparent;
  padding: 15px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

/* Navbar when scrolled */
.navbar-scrolled {
  background: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.navbar-custom-page {
  width: 100%;
  background: black;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
/* Logo */
.logo {
  margin-left: 30px;
  height: 60px;
  width: 80px;
}

/* Navigation links */
.nav-container {
  display: flex;
  gap: 30px;
}

.nav-container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-container a:hover {
  color: var(--btn-hover);
}

/* Mobile Menu Button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hero-section {
  position: relative;
  background-image: url(../images/banners/hero_background.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 101vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section .container-fluid {
  position: relative;
  z-index: 2;
}

.hero-section h1 {
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--heading-font);
}

.hero-section p {
  font-size: 1.8rem;
  color: #ddd;
}

.hero-section .btn-primary {
  background-color: var(--btn-color);
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.hero-section .btn-primary:hover {
  background-color: var(--btn-hover);
  transform: scale(1.05);
}
/* Keyframe for fadeInUp animation */
/* Keyframe for enhanced fadeInUp animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
}

.animated {
  padding-top: 5rem;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  animation: fadeInUp 3s ease-out forwards;
}

/* about section */

.about_heading {
  color: #bcba8d;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

#about {
  background-color: #111111;
  padding: 6rem 0rem 4rem 0rem;
}

.about-us-section {
  padding: 40px 20px;
  background-color: #111;
  border-radius: 10px;
}

.about-us-section p {
  line-height: 1.6;
}

.founder_link {
  color: white;
  text-decoration: underline;
}

.portfolio_button {
  padding: 12px 30px;
  color: #bcba8d;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.portfolio_button:hover {
  background-color: #bcba8d;
  color: white;
  transform: scale(1.05);
}

.about_text {
  line-height: 1.8;
  font-size: 1rem;
  color: #e0e0e0;
}

.box {
  margin-top: 20px;
}

.numb {
  font-size: 2.5rem;
  color: #bcba8d;
  font-weight: bold;
}

.numbers p {
  font-size: 1rem;
  margin-top: 8px;
  color: #e0e0e0;
}

/* numbers section */
.numbers {
  padding-top: 5rem;
}
.box {
  border-radius: 0px;
  padding: 40px 25px;
  border: 1px solid white;
}
.numb {
  font-size: 4rem;
}

/* Skills section */
#skills {
  background-color: #111111;
  padding: 5rem 0rem 5rem 0rem;
}
.Skills_text {
  line-height: 1.6;
}
.skills-container {
  color: #fff;
  padding: 20px;
}

.skills-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skills-container p {
  font-size: 1rem;
}

#skill {
  margin: 15px 0;
}

#skill p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.skills-container {
  margin: 0 auto;
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  margin: 0;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.skill i {
  margin-left: 8px;
  font-size: 1.2rem;
}

.skill-bar {
  background-color: #333;
  border-radius: 20px;
  overflow: hidden;
  height: 15px;
  position: relative;
  margin-top: 8px;
}

.skill-bar-fill {
  background: linear-gradient(90deg, var(--btn-color), var(--btn-hover));
  width: 0;
  height: 100%;
  border-radius: 20px;
  transition: width 1.5s ease-in-out;
}

/* portfolio section */
.head {
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: #bcba8d;
}
.heading {
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: black;
}
#portfolio {
  background-color: #111111;
  padding: 2rem 0rem 5rem 0rem;
}
.portfolio-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #222;
  color: #fff;
}
.lazy-load {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.lazy-load.loaded {
  opacity: 1;
  filter: blur(0);
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: calc(4vw / 3);
}

.portfolio-item {
  position: relative;
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin: 5px;
  border-radius: 6px;
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 6px;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

/* Desktop Overlay Styling */
.desktop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .desktop-overlay {
  opacity: 1;
  cursor: pointer;
}

/* Mobile Text Below Image */

.mobile-text {
  display: none;
  text-align: center;
}
.mobile-text a {
  display: inline-block;
  margin: 10px auto;
  padding: 8px 16px;
  background-color: var(--btn-color);
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.gallery-image.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.gallery-image.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Filter Button Styling */
.filter-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #2c2c2c;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-button:hover {
  background-color: var(--btn-color);
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.filter-button.active {
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.hover-link {
  display: inline-block;
  color: var(--btn-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid var(--btn-color);
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Hover Effect for Desktop */
.hover-link:hover {
  background-color: var(--btn-color);
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* contact-section */
#contact {
  background-color: #111111;
  padding: 5rem 0rem 5rem 0rem;
}

#contact_box {
  background-color: #111111;
  color: white;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid white;
}

#contact_box h3 {
  font-size: 4.3rem;
  color: #bcba8d;
}

#contact_box p {
  font-size: 1.7rem;
}

.contact_button {
  position: relative;
  overflow: hidden;
  padding: 20px 25px;
  border-radius: 12px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease;
}

.contact_button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  z-index: -1;
  transition: top 0.4s ease-in-out;
  border-radius: inherit; /* Matches button's rounded corners */
}

.contact_button:hover::before {
  top: 0;
}

.contact_button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.5);
  color: white;
}

.contact_button i {
  position: relative;
  z-index: 1;
}

.contact_button span,
.contact_button i {
  position: relative;
  z-index: 1;
}

/* services */
#services {
  background-color: #111111;
  padding: 5rem 0rem 5rem 0rem;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
#services_text h3 {
  font-size: 3.75rem;
  color: #bcba8d;
}
#services_text p {
  font-size: 1.5rem;
}
.item {
  padding: 15px;
  border-radius: 8px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.item.animate {
  opacity: 1;
  transform: translateX(0);
}

.item i {
  font-size: 24px;
}

.item h5 {
  font-weight: bold;
}

/* cards */
.cards_container {
  max-width: 1400px;
  margin: auto;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.carousel {
  display: flex;
  gap: 16px;
  transition: transform 0.5s ease-in-out;
  cursor: grab;
}

.review-card {
  flex: 0 0 calc(33.33% - 16px);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.profile-icon {
  width: 60px;
  height: 60px;
  background-color: #2d662e;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.google-badge {
  width: 30px;
  position: absolute;
  bottom: -15px;
  background: white;
  border-radius: 2px;
  padding: 2px;
}

.reviewer-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.review-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.star-rating {
  color: #ffd700;
  font-size: 18px;
  margin-bottom: 8px;
}

.review-text {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}
.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: none;
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-controls button:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* FAQ-section */
#FAQ {
  padding: 5rem 0rem 5rem 0rem;
}
.additional_text {
  font-size: 1.5rem;
}
/* Gallery Section */
#gallery-section {
  background-color: #111111;
  padding: 4rem 2rem;
  color: white;
}

.category-section-title {
  font-size: 2.3rem;
  text-transform: uppercase !important;
  display: flex;
  justify-content: center;
}
#category-name {
  font-weight: bold;
  font-size: 4rem;
  font-family: var(--heading-font) !important;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.section-subtitle {
  font-size: 1.2rem;
  color: #bbbbbb;
  margin-bottom: 2rem;
}

/* toast */
.toast {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.hide {
  opacity: 0;
  transform: translateY(20px);
}

.toast-container {
  max-width: 400px;
  width: 100%;
}

.button-container {
  margin-top: 10px;
  text-align: center;
}

#dontShowAgain {
  background-color: #dc3545;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#dontShowAgain:hover {
  background-color: #b02a37;
}

/* Toast Header Styles */
.toast-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}

.toast-header .me-auto {
  flex-grow: 1;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.toast-header small {
  flex-shrink: 0;
  font-size: 0.8rem;
  margin-left: 10px;
  white-space: nowrap;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.gallery-image {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin: 0 auto;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-image:hover img {
  transform: scale(1.1);
}

.gallery-image:hover {
  box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
  cursor: pointer;
}

.gallery-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-image:hover:before {
  opacity: 1;
}

/* Button Styling */
.button-container {
  margin-top: 20px;
}

.btn-next-category {
  background-color: #ff9900;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-next-category:hover {
  background-color: #e67e00;
  transform: scale(1.05);
}

/* footer */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.footer-logo {
  width: auto;
  height: 110px;
}
.footer-brand,
.footer-links,
.footer-contact,
.footer-social {
  flex: 1 1 200px;
  text-align: center;
}
.footer-brand h2 {
  color: #007bff;
  margin-bottom: 10px;
  font-family: "Georgia", serif !important;
  font-style: italic !important;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin: 5px 0;
}
.footer-links a,
.footer-contact a {
  color: #007bff;
  text-decoration: none;
}
.footer-links a:hover,
.footer-contact a:hover {
  text-decoration: underline;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
  flex-direction: column;
}
.social-icons a {
  color: #007bff;
  font-size: 20px;
  text-decoration: none;
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
}
.footer-bottom a {
  color: #007bff;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}

/* Headings */
.heading-page {
  font-size: 3.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}
.subheading {
  font-size: 1.3rem;
  color: #555;
}
.section-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Core Values */
.core-values .value-img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
.core-values .value-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px 0;
}

/* Buttons */
.about_btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--btn-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.about_btn:hover {
  background-color: var(--btn-hover);
  color: #fff;
}

/* Images */
.img-fluid {
  max-width: 100%;
  height: auto;
}
.rounded {
  border-radius: 5px;
}
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image Gallery */
.image-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

/* contact-us */
.contact-banner {
  background-image: url(../images/banners/contact_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
}

.contact-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.banner-text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: 600;
  margin-top: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #333;
}

/* error message */
.error {
  font-size: 0.875rem;
  color: red;
  margin-top: 0.25rem;
  display: block;
}

.error + input,
.error + select,
.error + textarea {
  margin-bottom: 1rem;
}

/* Map Section */
.map-container {
  margin-top: 50px;
  text-align: center;
}

.map-container h3 {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.map-embed {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.map-embed iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* WhatsApp Floating Chat */
.whatsapp-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  animation: slideUp 1s ease-in-out;
}

.whatsapp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  padding: 12px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
.whatsapp-chat a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  animation: bounce 2s infinite ease-in-out;
}

.whatsapp-container p {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.whatsapp-container:hover {
  background-color: #1e9f5f;
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Animation Keyframes */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* FILMS page */

/* Hero Section */
.hero-section-films {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Places the video behind other elements */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /*  overlay content stays above the video */
}

.overlay .container {
  text-align: center;
  color: white;
  z-index: 2;
}

.overlay h1 {
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  font-family: var(--heading-font);
}

.overlay p {
  font-size: 1.5rem;
  margin-top: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Styling for the video titles on hover */
.card-title {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.card:hover .card-title {
  color: #00bcd4;
}

.bg-light {
  background-color: #f9f9f9;
}

.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Video Gallery */
.ratio {
  border-radius: 8px;
  overflow: hidden;
}

.video-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.video-container.visible {
  opacity: 1;
  transform: translateY(0);
}
.navbar-films {
  background-color: transparent !important;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.navbar-brand img {
  height: 60px;
  width: 80px;
}

/* For films navbar when scrolled */
.navbar-films.navbar-scrolled {
  background-color: white !important;
}

.navbar-films.navbar-scrolled .nav-container a {
  color: rgb(0, 0, 0) !important;
}

.navbar.scrolled .nav-link:hover {
  color: #007bff !important;
}

/* Go to Top Button Styling */
.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Hidden by default */
  transition: opacity 0.3s, visibility 0.3s;
}

.go-top-btn:hover {
  background-color: #555;
}
